includes:
  - ./vendor/nunomaduro/larastan/extension.neon
  - ./vendor/phpstan/phpstan-strict-rules/rules.neon
  - ./vendor/matla/phpstancs/extension.neon
  - ./vendor/phpstan/phpstan-mockery/extension.neon
  - ./vendor/finwe/phpstan-faker/extension.neon
  - ./vendor/phpstan/phpdoc-parser/phpstan.neon
  - ./vendor/phpstan/phpstan-webmozart-assert/extension.neon
  - ./vendor/grzesie2k/phpstan-gql-rule/rules.neon
  - ./vendor/timeweb/phpstan-enum/extension.neon
  - ./vendor/phpstan/phpstan-doctrine/extension.neon
  - ./vendor/phpstan/phpstan-phpunit/extension.neon
  - ./vendor/phpstan/phpstan-deprecation-rules/rules.neon
  - ./vendor/pepakriz/phpstan-exception-rules/extension.neon
  - ./vendor/slam/phpstan-extensions/conf/slam-rules.neon
  - ./vendor/ekino/phpstan-banned-code/extension.neon

parameters:

  paths:
    - app
    - tests

  phpstancs:
    runCS: true

  # The level 8 is the highest level
  level: max

  exceptionRules:
    reportUnusedCatchesOfUncheckedExceptions: false
    reportUnusedCheckedThrowsInSubtypes: false
    reportCheckedThrowsInGlobalScope: false
    ignoreDescriptiveUncheckedExceptions: false
    uncheckedExceptions:
      - LogicException
      - PHPUnit\Framework\Exception

  ignoreErrors:
    - '#Unsafe usage of new static#'

  excludes_analyse:

  checkMissingIterableValueType: false

